<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная страница</title>
    <!-- Подключаем CSS файл -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  <style>
    html,
    body {
      position: relative;
      height: 100%;
    }

    body {
      background: #eee;
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
      font-size: 14px;
      color: #000;
      margin: 0;
      padding: 0;
    }

    swiper-container {
      width: 100%;
      height: 100%;
    }

    swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  </style>
</head>
<body>
    <!-- Главный контент страницы -->
  <swiper-container class="mySwiper" pagination="true" pagination-clickable="true" navigation="false" space-between="3"
    centered-slides="true" autoplay-delay="25000" autoplay-disable-on-interaction="false">
    <swiper-slide><img src="{{ url_for('static', filename='c3.jpg') }}" alt="Background Image" class="background-image"></swiper-slide>
    <swiper-slide><img src="{{ url_for('static', filename='c3rus.jpg') }}" alt="Background Image" class="background-image"></swiper-slide>
  </swiper-container>

  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"></script>

    <!-- Кнопка настроек -->
    <a href="/settings">
        <button class="settings-button">
            <img src="{{ url_for('static', filename='settings.png') }}" alt="Settings Icon">
        </button>
    </a>

    <!-- Индикатор состояния сети с иконкой -->
    <div class="network-indicator">
        <img id="network-status-icon" class="offline" 
             src="{{ url_for('static', filename='web.png') }}" 
             alt="Network Status">
    </div>

    <!-- Индикатор пинга сервера -->
    <div id="ping-server-indicator" class="ping-indicator">
        <img id="ping-icon" src="{{ url_for('static', filename='ping_offline.png') }}" alt="Ping Status">
    </div>

    <!-- Подключаем JavaScript для проверки пинга -->
    <script>
        // Функция для проверки состояния сети (пинг на 8.8.8.8)
        function checkNetworkStatus() {
            fetch("/ping", { method: "GET" })
            .then(response => response.json())
            .then(data => {
                const isOnline = data.ping;
                if (isOnline) {
                    document.getElementById('network-status-icon').classList.remove('offline');
                    document.getElementById('network-status-icon').classList.add('online');
                    document.getElementById('network-status-icon').src = "{{ url_for('static', filename='web_online.png') }}"; 
                } else {
                    document.getElementById('network-status-icon').classList.remove('online');
                    document.getElementById('network-status-icon').classList.add('offline');
                    document.getElementById('network-status-icon').src = "{{ url_for('static', filename='web.png') }}"; 
                }
            })
            .catch(error => {
                console.error("Ошибка при проверке сети:", error);
            });
        }

        // Функция для пинга сервера из конфигурации
        function pingServer() {
            fetch("/ping", { method: "GET" })
            .then(response => response.json())
            .then(data => {
                const isPingSuccessful = data.ping;

                if (isPingSuccessful) {
                    // Если сервер доступен, меняем иконку на "online" и активируем индикатор
                    document.getElementById('ping-icon').src = "{{ url_for('static', filename='ping_online.png') }}";
                } else {
                    // Если сервер недоступен, меняем иконку на "offline" и делаем индикатор серым
                    document.getElementById('ping-icon').src = "{{ url_for('static', filename='ping_offline.png') }}";
                }
            })
            .catch(error => {
                console.error("Ошибка при пинге сервера:", error);
            });
        }

        // Проверка состояния сети каждые 5 секунд
        setInterval(checkNetworkStatus, 5000);
        checkNetworkStatus();

        // Пинг сервера при загрузке страницы
        window.onload = pingServer;
    </script>
</body>
</html>
